/*****  Slider  *****/

.container{ 
    position: relative; //to set a context for absolutely-positioned prev/next/pagination icons
}

.slidesjs-previous, .slidesjs-next, .slidesjs-pagination-item a{
  color: $darkPurple;
}

//position absolutely so next/prev/pagination icons will be on top of images
.slidesjs-previous, .slidesjs-next, .slidesjs-pagination{
  position: absolute;
  z-index: 10;
}

.slidesjs-pagination{
  position: relative;
}

//Pagination Circles
.slidesjs-pagination{
  width: 100%;
  margin-top: -3rem;
  text-align: center;
}

.slidesjs-pagination li{
  display: inline-block;
  margin: .5rem;
}

.slidesjs-pagination-item a{
  display: block;
  font-size: 2.5rem;
}

//Prev/next arrows
.slidesjs-next, .slidesjs-previous{
  font-size: 6rem;
  margin-top: -23rem;
  line-height: 6rem;
}

.slidesjs-next{
  right: 0;
}

//Overlays

.overlay{
  display: block;
  background-color: $darkPurple;
  color: white;
  z-index: 10;
  font-size: 1.5rem;
  position: absolute;
  padding: 1.2rem;
  width: 50%;
}

.topLeft{
  margin-top: -30rem;
  padding-left: 5rem;
  left: 0px;
}

.bottomRight{
  margin-top: -12rem;
  padding-right: 5rem;
  right: 0px;
  width: 80%;
}

.slide {
  width: 100%;
}

/* Lower sizes and move icons up at smaller font sizes */
@media (max-width: 979px) {
  .slidesjs-pagination-item a{
    font-size: 1.75rem;
    margin-top: 2.5rem;
  } 
  .slidesjs-next, .slidesjs-previous{
    margin-top: -15rem;
    font-size: 5rem;
  }

  .overlay{
    font-size: 1.2rem;
  }

  .topLeft{
    margin-top: -20rem;
    padding-left: 1.2rem;
  }
  .bottomRight{
    margin-top: -8rem;
    padding-right: 1.2rem;
  }
}