/*all padding and borders added will cut into the width, not add to it.  
margin will add to it*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/***  24 col grid  ***/
.mainNav li {
  width: 16%; }

.contact, .address {
  width: 37.5%; }

figure, form {
  width: 45%; }

.mainContent {
  width: 87.5%; }

body, .mainHeader, .mainNav, .mainFooter, .mainPageContent, .slider, .pageLogoWrap, .copyright, textarea, input, label {
  width: 100%; }

/***** 16 col grid *****/
/*
	// %oneColumn{
	// 	width: 6.25%;
	// }

	// %twoColumns{
	// 	width: 12.5%;
	// }

	// %threeColumns{
	// 	width: 18.75%;
	// }

	// %fourColumns{
	// 	width: 25%;
	// }

	// %fiveColumns{
	// 	width: 31.25%;
	// }

	// %sixColumns{
	// 	width: 37.5%;
	// }

	// %sevenColumns{
	// 	width: 43.75%;
	// }

	// %eightColumns{
	// 	width: 50%;
	// } 

	// %nineColumns{
	// 	width: 56.25%;
	// } 

	// %tenColumns{
	// 	width: 62.5%;
	// } 

	// %elevenColumns{
	// 	width: 68.75%;
	// } 

	// %twelveColumns{
	// 	width: 75%;
	// } 

	// %thirteenColumns{
	// 	width: 81.25%;
	// } 

	// %fourteenColumns{
	// 	width: 87.5%;
	// } 

	// %fifteenColumns{
	// 	width: 93.75%;
	// } 

	// %sixteenColumns{
	// 	width: 100%;
	// } 
*/
/**** Media Queries ****/
/****  Colors  ****/
/****  Fonts  ****/
h2, .copyright, h3, .overlay, body, .mainHeader, .mainNav, .mainFooter, .mainPageContent, .slider {
  font-family: "Droid Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2rem; }
  @media screen and (max-width: 767px) {
    h2, .copyright, h3, .overlay, body, .mainHeader, .mainNav, .mainFooter, .mainPageContent, .slider {
      font-size: 1rem; } }

h2, .copyright {
  font-weight: 700; }

h3 {
  font-size: 1.7rem; }
  @media screen and (max-width: 767px) {
    h3 {
      font-size: 1.2rem; } }

h2 {
  font-size: 2.6rem; }
  @media screen and (max-width: 767px) {
    h2 {
      font-size: 1.6rem; } }

/**** Details ****/
/**** re-suable classes ****/
.mainFooter:after, .mainHeader:after, .pageLogoWrap:after, .mainContent:after, form:after {
  content: "";
  display: table;
  clear: both; }

/* Prevent the slideshow from flashing on load */
#slides {
  display: none; }

/* Center the slideshow */
.container {
  margin: 0 auto; }

/* Show active item in the pagination */
.slidesjs-pagination a.active {
  color: rgba(72, 69, 92, 0.8); }

/* Media quires for a responsive layout */
/* For tablets & smart phones */
@media (max-width: 767px) {
  body {
    padding-left: 10px;
    padding-right: 10px; }

  .container {
    width: auto; } }
/* For smartphones */
@media (max-width: 480px) {
  .container {
    width: auto; } }
/* For smaller displays like laptops */
@media (min-width: 768px) and (max-width: 979px) {
  .container {
    width: 724px; } }
/* For larger displays */
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
/*****  Slider  *****/
iframe {
  width: 100%;
  height: 100%;
  pointer-events: none; }

.container {
  position: relative; }

.slidesjs-slide {
  height: 90%; }

.slidesjs-previous span, .slidesjs-next span, .slidesjs-pagination-item span {
  color: rgba(6, 0, 44, 0.8); }
  .slidesjs-previous span:hover, .slidesjs-next span:hover, .slidesjs-pagination-item span:hover {
    color: rgba(72, 69, 92, 0.8); }

.active span {
  color: rgba(72, 69, 92, 0.8); }

.slidesjs-previous, .slidesjs-next, .slidesjs-pagination {
  position: absolute;
  z-index: 10; }

.slidesjs-pagination {
  position: relative; }

.slidesjs-pagination {
  width: 100%;
  margin-top: -3rem;
  text-align: center; }

.slidesjs-pagination li {
  display: inline-block;
  margin: .5rem; }

.slidesjs-pagination-item a {
  display: block;
  font-size: 2.5rem; }

.slidesjs-next, .slidesjs-previous {
  font-size: 6rem;
  margin-top: -23rem;
  line-height: 6rem; }

.slidesjs-next {
  right: 0; }

.overlay {
  display: block;
  background-color: rgba(6, 0, 44, 0.8);
  color: white;
  z-index: 10;
  position: absolute;
  padding: 1.2rem;
  width: 50%; }

.topLeft {
  margin-top: -30rem;
  padding-left: 5rem;
  left: 0px; }

.bottomRight {
  margin-top: -12rem;
  padding-right: 5rem;
  right: 0px;
  width: 80%; }

.slide {
  width: 100%; }

/* Lower sizes and move icons up at smaller font sizes */
@media screen and (max-width: 979px) {
  .slidesjs-pagination-item a {
    font-size: 1.75rem;
    margin-top: 2.5rem; }

  .slidesjs-next, .slidesjs-previous {
    margin-top: -15rem;
    font-size: 5rem; }

  .topLeft {
    margin-top: -20rem;
    padding-left: 1.2rem; }

  .bottomRight {
    margin-top: -7rem;
    padding-right: 1.2rem; } }
@media screen and (max-width: 480px) {
  #slides {
    height: 20rem; }

  .overlay {
    margin-top: 0;
    padding: .5rem;
    min-height: 5rem; }

  .slidesjs-container {
    height: 20rem !important; }

  .slidesjs-pagination {
    margin-top: -45vh; }

  .slidesjs-pagination-item a {
    font-size: 1.5rem;
    margin-top: 1.5rem; }

  .slidesjs-next, .slidesjs-previous {
    margin-top: -65vh;
    font-size: 3.5rem; } }
/*****  General  ******/
body {
  background: url("../images/textures/brushed.png") #dbdbdb; }

.mainFooter, .mainHeader {
  background-color: rgba(255, 255, 255, 0.3); }
  .mainFooter > *, .mainHeader > * {
    float: left; }
  @media screen and (max-width: 767px) {
    .mainFooter > *, .mainHeader > * {
      float: none; } }

a, a:visited {
  text-decoration: none;
  color: black; }

/*****  mainHeader  *****/
.mainHeader {
  border-bottom: 2px solid rgba(0, 0, 0, .1);
  padding: 1rem;
  padding-left: 3rem; }

.pageLogoWrap > * {
  float: left; }
@media screen and (max-width: 767px) {
  .pageLogoWrap > * {
    float: none; } }
.pageLogoWrap img, .pageLogoWrap a {
  display: block; }

/*****  mainNav  *****/
.mainNav {
  border-bottom: 2px solid rgba(0, 0, 0, .1); }

.mainNav li {
  display: inline-block;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  margin: 0 auto; }

.navLink {
  display: inline-block;
  vertical-align: middle;
  line-height: normal; }

.mainNav li:hover, .mobileNavDrawer li:hover {
  background-color: lightgray; }

/***** mainContent ******/
.mainContent {
  margin: 1.5rem auto; }

.contentParagraph {
  margin-top: 2rem; }

/*****  mainFooter  *****/
.mainFooter {
  border-top: 2px solid rgba(0, 0, 0, .1);
  padding: 2rem;
  line-height: 2rem; }

.contact {
  margin-left: 3rem; }

.address {
  margin-right: 3rem;
  float: right; }

.copyright {
  border-top: 2px solid rgba(0, 0, 0, .1);
  padding: 1rem 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3); }

/*****  Pages  ******/
.right {
  float: right; }

.left {
  float: left; }

.heading, .subheading {
  padding: 1rem 0; }

figure {
  margin: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px; }
  figure img {
    display: block;
    max-width: 100%; }
  @media screen and (max-width: 480px) {
    figure {
      width: 100%; } }

/***** Forms *****/
form {
  float: left; }

label {
  float: left;
  padding: .3rem 0; }

textarea {
  height: 7rem; }

/*****  Mobile Things *****/
.mobileDispatchBar, .hamburger {
  display: none; }

@media screen and (min-width: 1200px) {
  .headerImageWrap {
    width: 70%;
    margin: 0 auto; }

  .pageLogoWrap {
    width: 80%;
    height: 10rem; }

  .pageLogo {
    height: 8.5rem; }

  .dispatchFlag {
    height: 6.5rem; } }
@media screen and (max-width: 979px) {
  img {
    display: block; }

  .pageLogoWrap {
    width: 100%; } }
@media screen and (max-width: 767px) {
  body {
    padding: 0; }

  .mainNav {
    display: none; }

  .hamburger {
    position: fixed;
    z-index: 100;
    right: 0;
    top: 0;
    padding: .8rem;
    font-size: 2.5rem;
    color: white;
    background-color: rgba(192, 192, 192, 0.9);
    border-radius: 0 0 0 10px; }

  .mobileNavDrawer {
    position: fixed;
    right: -50%;
    top: 0;
    width: 50%;
    background-color: silver;
    z-index: 80;
    border-radius: 0 0 0 10px; }

  .mobileNavDrawer li {
    padding: 1rem;
    width: 100%;
    height: 100%; }

  .mobileNavDrawer li a {
    color: white;
    display: block;
    width: 100%;
    height: 100%; }

  .contact, .address {
    width: 100%;
    margin: 0;
    text-align: center;
    padding-bottom: 2rem; }

  .mainHeader {
    padding: .5rem;
    padding-top: 1.5rem; }

  .mainFooter {
    padding: 1rem; }

  .mainContent {
    width: 95%; }

  a.dispatchFlagLink {
    display: none; }

  .mobileDispatchBar, .hamburger {
    display: block; }

  a.mobileDispatchBar {
    width: 100%;
    height: 3rem;
    background-color: rgba(6, 0, 44, 0.8);
    color: white;
    text-align: center;
    line-height: 3rem; }

  .mainNav {
    border-bottom: 2px solid rgba(0, 0, 0, .1); } }
@media screen and (max-width: 480px) {
  .hamburger {
    font-size: 1.5rem; }

  .overlay {
    width: 100%; }

  .pageLogo {
    height: 4rem;
    overflow: hidden; }

  .mainContent {
    margin-top: 0; } }
