@import "layout";
@import "vars";

@import "slidesjs";
@import "slides";

/*****  General  ******/

body{
	background: url("../images/textures/brushed.png") #DBDBDB;
}

body, .mainHeader, .mainNav, .mainFooter, .mainPageContent, .slider {
	@extend %twentyFourColumns;
	@extend %bodyText;
}
.mainFooter, .mainHeader{
	@include floatAllDirectChildrenLeft;
	background-color: rgba(255, 255, 255, .3);
}

a, a:visited{
	text-decoration: none;
	color: black;
}


/*****  mainHeader  *****/

.mainHeader{
	border-bottom: #{$dividingLine};
	@extend %twentyFourColumns;
	padding: 1rem;
	padding-left: 3rem;
}

.pageLogoWrap {
	@extend %twentyFourColumns;
	@include floatAllDirectChildrenLeft;

	img, a{
		display: block;
	}
}


/*****  mainNav  *****/

.mainNav{
	border-bottom: #{$dividingLine};
}

.mainNav li{
	display: inline-block;
	@extend %fourColumns;
	// width: 19.69%; //I have a 1.55% margin floating around somewhere...?
	height: 5rem;
	line-height: 5rem;
	text-align: center;
	margin: 0 auto;
}

.navLink{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.mainNav li:hover, .mobileNavDrawer li:hover{
	background-color: lightgray;
}

/***** mainContent ******/

.mainContent{
	@extend %clearfix;  
	@extend %twentyOneColumns;
	margin: 1.5rem auto;

}

h2 {
	@extend %mainHeadline;
}

.contentParagraph{
	margin-top: 2rem;
}

/*****  mainFooter  *****/

.mainFooter{
	border-top: #{$dividingLine};
	padding: 2rem;
	line-height: 2rem;
}

h3{
	@extend %secondaryHeadline;
}

.contact, .address{
	@extend %nineColumns;
}

.contact {
	margin-left: 3rem;
}

.address{
	margin-right: 3rem;
	float: right; //kind of a hack?
}

.copyright{
	@extend %twentyFourColumns;
	@extend %copyright;
	border-top: #{$dividingLine};
	padding: 1rem 0;
	text-align: center;
	background-color: rgba(255, 255, 255, .3);
}

/*****  Pages  ******/

.right{
	float: right;
}

.left{
	float: left;
}

.heading, .subheading{
	padding: 1rem 0;

}

figure{
	@extend %elevenColumns;
	margin: 1rem;
	// background-color: rgba(255, 255, 255, .3);
	// border-radius: 10px;

	img{
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}


	@media screen and #{$smartphones}{
		width: 100%;
		margin: 1rem 0;
	}
}

/***** Forms *****/
 

form{
	@extend %elevenColumns;
	@extend %clearfix;
	float: left;
}
label{
	float: left;
	padding: .3rem 0;
}
textarea, input, label {
	@extend %twentyFourColumns;
}

textarea{
	height: 7rem;
}


/*****  Mobile Things *****/

.mobileDispatchBar, .hamburger{
	display: none;
}

@import "mediaQueries";